* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 0px;
}


.strip {
  height: 100vh;
}

.login-buttons {
  height: 40%;
  width: 60%;
}



/* Tablet Media Queries */

@media (max-width: 768px ) {

  .login-buttons {
    width: 70%;
  }
}

/* Mobile Media Queries */

@media (max-width: 600px) {
  
  button.login-btn {
    width: 50%;
    height: 20%;
    border-radius: 25px;
  }

  .login-buttons {
    width: 80%;
  }

 h1#logo.logo {
    font-size: 2rem;
  }

}

h1#logo.logo {
  font-weight: 100;
  color: white;
  font-size: 3rem;
}

container#login-container.container.strip {
  max-width: 2000px; 
  width: 100vw; 
}

#login-container {
  margin-right: 0px !important; 
  margin-left: 0px !important;
  max-width: 2000px !important;
  background: linear-gradient(-45deg, #ffe957, #ed852b, #e30000, #ffb357);
	background-size: 100% 100%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

button.login-btn {
  width: 75%;
  height: 20%;
  border-radius: 25px;
  font-weight: 100;
  color: black;
  background-color: white;
  border: 1px solid white;
}

button.login-btn:hover {
  color: white;
  border: 2px solid white;
  background: linear-gradient(-45deg, #ffe957, #ed852b, #e30000, #ffb357);
	background-size: 100% 100%;
	animation: gradient 15s ease infinite;
}


/*
.one, .two, .three, .four, .five {
  background: linear-gradient(-45deg, #ffe957, #ed852b, #e30000, #ffb357);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh; 
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
*/